@import url("https://fonts.googleapis.com/css2?family=Playball&family=Prociono&display=swap");

.headline {
  margin-top: 100px;
  color: #e8c897;
  text-align: center;
  font-family: Playball;
  font-size: 50.274px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about-firstline {
  /* margin-left: 150px;
  margin-right: 150px; */
  color: #e4ddd6;
  text-align: center;
  font-family: Prociono;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about-boxes{
    text-align: center;
    /* margin-left: 100px; */
}
.box {
  border: solid 4px #b18e64;
  background-color: #e8c897;
  border-radius: 100%;
  display: flex;
  width: 228.753px;
  height: 228.753px;
  flex-direction: column;
  justify-content: center;
  color: #665039;
  text-align: center;
  font-family: Prociono;
  font-size: 19.275px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 35px;
}

.join-box{
    display: flex;
flex-direction: column;
text-align: center;
align-items: center;
}
.join-btn{
    color: #665039;
text-align: center;
font-family: Playball;
font-size: 40.274px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 180px;
background-color: #b18e64;
border: solid 4px #e8c897;
border-radius: 10px;
margin: 20px;
}
.join-text{
color: #E4DDD6;
text-align: center;
font-family: Prociono;
font-size: 20.034px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.map-img{
    margin-left: 50px;
}
.contact-text{
  text-align: justify;
}
